<div class="container mt-4">
  <h2>➕ Nueva Inscripción</h2>

  <div class="mb-3" *ngIf="esAdmin$ | async">
    <label>Usuario</label>
    <select class="form-control" [(ngModel)]="usuarioSeleccionado">
      <option *ngFor="let u of usuarios$ | async" [value]="u.id">
        {{ u.nombre }}
      </option>
    </select>
  </div>

  <div class="mb-3">
    <label>Curso</label>
    <select class="form-control" [(ngModel)]="cursoSeleccionado">
      <option *ngFor="let c of cursos$ | async" [value]="c.id">
        {{ c.nombre }}
      </option>
    </select>
  </div>

  <button class="btn btn-success" (click)="guardar()">Guardar</button>
</div>
